body{
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}
.heading{
    width:100%;
    font-size: 50px;
}
.heading h1{
    display:inline;
}
.instructions{
    font-size:30px;
    float:right;
}
.start{
    font-size: 40px;
    width:130px;
}
.modal-dialog{
    width:80%;
}